# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [50]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [ ]:
# Clean your data here!
baltimore = pd.read_csv("dataset//baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset//boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("dataset//new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset//philadelphia_9-24-2016_9-30-2017.csv")    

data = (baltimore, boston, new_york, philadelphia)

# for table in data:
#     print("\n\n\n")
#     for col in table.columns:
#         pct_missing = np.mean(table[col].isnull())
#         print('{} - {}%'.format(col, round(pct_missing*100)))

for table in data:
    table.drop([
        'Type',
        'Grade',
        'Condition',
        'Origin District',
        'Environment',
        'Trans Mode',
        'Quality',
        'Appearance',
        'Storage',
        'Crop',
        'Repack',
        'Package'],
        axis = 1,
        inplace=True
        )

for table in data:
    table.dropna(
        how = all
        axis = 1,
        inplace = True
        )

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [62]:
# Combine the four dataframes into one!
northeast = pd.concat([boston, new_york, baltimore, philadelphia])
northeast

,Commodity Name,City Name,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale
0,PUMPKINS,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200.0,165,165.0,CANADA,exjbo,ORANGE,NaN
1,PUMPKINS,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200.0,165,165.0,CANADA,jbo,ORANGE,NaN
2,PUMPKINS,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200.0,165,165.0,CANADA,xlge,ORANGE,NaN
3,PUMPKINS,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,200.0,165,165.0,CANADA,xlge,ORANGE,NaN
4,PUMPKINS,BOSTON,HOWDEN TYPE,NaN,09/24/2016,160,180.0,165,165.0,CANADA,lge,ORANGE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,SHELLACKED
53,PUMPKINS,PHILADELPHIA,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,SHELLACKED
54,PUMPKINS,PHILADELPHIA,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,SHELLACKED
55,PUMPKINS,PHILADELPHIA,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,SHELLACKED
56,PUMPKINS,PHILADELPHIA,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,SHELLACKED

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [ ]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
print(northeast.groupby("Unit of Sale")["Low Price"].mean().sort_values(ascending=False))
print("\n")
print(northeast.groupby("Unit of Sale")["High Price"].mean().sort_values(ascending=False))

Unit of Sale
PER BIN       185.845070
EACH           47.916667
SHELLACKED     16.000000
Name: Low Price, dtype: float64


Unit of Sale
PER BIN       206.619718
EACH           59.166667
SHELLACKED     17.545455
Name: High Price, dtype: float64

In [ ]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!