In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('order_data.csv')

In [4]:
df.head()

,order_id,customer_id,region,category,quantity,unit_price,returned,order_date,revenue
0,1,1102,West,Home,5,8,True,2024-01-11,40
1,2,1051,Northeast,Home,4,8,False,2024-01-15,32
2,3,1092,South,Clothing,5,8,True,2024-02-04,40
3,4,1014,Midwest,Clothing,5,120,False,2024-02-02,600
4,5,1106,West,Home,1,8,False,2024-03-24,8

In [6]:
categories = ["Electronics","Clothing","Home","Book"]

for i,cat in enumerate(categories):
    print("Category:", cat, " Index number:", i)

Category: Electronics  Index number: 0
Category: Clothing  Index number: 1
Category: Home  Index number: 2
Category: Book  Index number: 3

In [8]:
flags = []

for rev in df["revenue"]:
    if rev >= 200:
        flags.append("large")
    else:
        flags.append("small")

In [9]:
df["order_size"] = flags
df

,order_id,customer_id,region,category,quantity,unit_price,returned,order_date,revenue,order_size
0,1,1102,West,Home,5,8,True,2024-01-11,40,small
1,2,1051,Northeast,Home,4,8,False,2024-01-15,32,small
2,3,1092,South,Clothing,5,8,True,2024-02-04,40,small
3,4,1014,Midwest,Clothing,5,120,False,2024-02-02,600,large
4,5,1106,West,Home,1,8,False,2024-03-24,8,small
...,...,...,...,...,...,...,...,...,...,...
445,446,1029,West,Electronics,2,35,False,2024-02-10,70,small
446,447,1096,Northeast,Home,5,15,False,2024-02-15,75,small
447,448,1027,West,Electronics,3,12,False,2024-01-12,36,small
448,449,1110,South,Clothing,4,12,False,2024-03-10,48,small
449,450,1063,Midwest,Books,5,8,False,2024-01-17,40,small

In [ ]:
# Uses numpy 'Where' method
df["order_size_np"] = np.where(
    df["revenue"] >= 200,
    "large",
    "small"
)
df

,order_id,customer_id,region,category,quantity,unit_price,returned,order_date,revenue,order_size,order_size_np
0,1,1102,West,Home,5,8,True,2024-01-11,40,small,small
1,2,1051,Northeast,Home,4,8,False,2024-01-15,32,small,small
2,3,1092,South,Clothing,5,8,True,2024-02-04,40,small,small
3,4,1014,Midwest,Clothing,5,120,False,2024-02-02,600,large,large
4,5,1106,West,Home,1,8,False,2024-03-24,8,small,small
...,...,...,...,...,...,...,...,...,...,...,...
445,446,1029,West,Electronics,2,35,False,2024-02-10,70,small,small
446,447,1096,Northeast,Home,5,15,False,2024-02-15,75,small,small
447,448,1027,West,Electronics,3,12,False,2024-01-12,36,small,small
448,449,1110,South,Clothing,4,12,False,2024-03-10,48,small,small
449,450,1063,Midwest,Books,5,8,False,2024-01-17,40,small,small

In [ ]:
df.head()