# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [50]:
# import pandas
import pandas as pd

# create your data variable using .read_csv 
df = pd.read_csv("IMDB-Movie-Data.csv")

# create your data_indexed variable here
data_indexed = df.set_index("Title")

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [18]:
# Read data with specified explicit index


print(data_indexed[["Title","Metascore"]])

                        Title  Metascore
Rank
1     Guardians of the Galaxy       76.0
2                  Prometheus       65.0
3                       Split       62.0
4                        Sing       59.0
5               Suicide Squad       40.0
...                       ...        ...
996      Secret in Their Eyes       45.0
997           Hostel: Part II       46.0
998    Step Up 2: The Streets       50.0
999              Search Party       22.0
1000               Nine Lives       11.0

[1000 rows x 2 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [32]:
# Use the head() function to view the first 5 rows of the data set
data_indexed.head() # Prints leading several rows of the data

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [33]:
# Use the tail() function to view the last 5 rows of the data set
data_indexed.tail() # Prints last few rows of the dataset

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [34]:
# The info() function: 
data_indexed.info() # Gives all stored information on the object

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB

In [35]:
# shape:
data_indexed.shape # Gives dimensions of the table - first Y (vertical rows/entries) then X (columns/data tracked)

# what information does shape provide?  what is the order?

(1000, 11)

In [36]:
# columns:
data_indexed.columns

# what information does columns provide?
# Gives the title of every column

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [37]:
# The describe() function: 
data_indexed.describe() #Gives statistical overview of each column

,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [38]:
#  Extract data as series
# define and print the variable 'genre'
genre = pd.Series(data_indexed["Genre"])
print(genre)

Rank
1        Action,Adventure,Sci-Fi
2       Adventure,Mystery,Sci-Fi
3                Horror,Thriller
4        Animation,Comedy,Family
5       Action,Adventure,Fantasy
                  ...
996          Crime,Drama,Mystery
997                       Horror
998          Drama,Music,Romance
999             Adventure,Comedy
1000       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [41]:
# Extract the data as a dataframe and print it
genre_df = data_indexed[["Genre"]]
genre_df.info

<bound method DataFrame.info of                          Genre
Rank
1      Action,Adventure,Sci-Fi
2     Adventure,Mystery,Sci-Fi
3              Horror,Thriller
4      Animation,Comedy,Family
5     Action,Adventure,Fantasy
...                        ...
996        Crime,Drama,Mystery
997                     Horror
998        Drama,Music,Romance
999           Adventure,Comedy
1000     Comedy,Family,Fantasy

[1000 rows x 1 columns]>

In [ ]:
# Extract data using rows
# loc function
row_a = data_indexed.loc["The Avengers"]
print(row_a)

Rank                                                                 77
Genre                                                     Action,Sci-Fi
Description           Earth's mightiest heroes must come together an...
Director                                                    Joss Whedon
Actors                Robert Downey Jr., Chris Evans, Scarlett Johan...
Year                                                               2012
Runtime (Minutes)                                                   143
Rating                                                              8.1
Votes                                                           1045588
Revenue (Millions)                                               623.28
Metascore                                                          69.0
Name: The Avengers, dtype: object

In [52]:
# iloc function
row_b = data_indexed.iloc[12]
print(row_b)

Rank                                                                 13
Genre                                           Action,Adventure,Sci-Fi
Description           The Rebel Alliance makes a risky move to steal...
Director                                                 Gareth Edwards
Actors                Felicity Jones, Diego Luna, Alan Tudyk, Donnie...
Year                                                               2016
Runtime (Minutes)                                                   133
Rating                                                              7.9
Votes                                                            323118
Revenue (Millions)                                               532.17
Metascore                                                          65.0
Name: Rogue One, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [60]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
data_indexed[
    (data_indexed["Year"] >= 2010) 
    & (data_indexed["Year"] <= 2016)
    & (data_indexed["Rating"] < 6.0)
    & (data_indexed["Revenue (Millions)"] > 47.985)
    ]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Independence Day: Resurgence,25,"Action,Adventure,Sci-Fi",Two decades after the first Independence Day i...,Roland Emmerich,"Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...",2016,120,5.3,127553,103.14,32.0
Assassin's Creed,30,"Action,Adventure,Drama",When Callum Lynch explores the memories of his...,Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",2016,115,5.9,112813,54.65,36.0
Fifty Shades of Grey,64,"Drama,Romance,Thriller",Literature student Anastasia Steele's life cha...,Sam Taylor-Johnson,"Dakota Johnson, Jamie Dornan, Jennifer Ehle,El...",2015,125,4.1,244474,166.15,46.0
Ghostbusters,80,"Action,Comedy,Fantasy","Following a ghost invasion of Manhattan, paran...",Paul Feig,"Melissa McCarthy, Kristen Wiig, Kate McKinnon,...",2016,116,5.3,147717,128.34,60.0
Office Christmas Party,116,Comedy,When his uptight CEO sister threatens to shut ...,Josh Gordon,"Jason Bateman, Olivia Munn, T.J. Miller,Jennif...",2016,105,5.8,30761,54.73,42.0
Transformers: Age of Extinction,127,"Action,Adventure,Sci-Fi",Autobots must escape sight from a bounty hunte...,Michael Bay,"Mark Wahlberg, Nicola Peltz, Jack Reynor, Stan...",2014,165,5.7,255483,245.43,32.0
Allegiant,205,"Action,Adventure,Mystery",After the earth-shattering revelations of Insu...,Robert Schwentke,"Shailene Woodley, Theo James, Jeff Daniels,Nao...",2016,120,5.7,70504,66.00,33.0
Percy Jackson & the Olympians: The Lightning Thief,245,"Adventure,Family,Fantasy",A teenager discovers he's the descendant of a ...,Chris Columbus,"Logan Lerman, Kevin McKidd, Steve Coogan,Brand...",2010,118,5.9,148949,88.76,47.0
Battleship,257,"Action,Adventure,Sci-Fi",A fleet of ships is forced to do battle with a...,Peter Berg,"Alexander Skarsgård, Brooklyn Decker, Liam Nee...",2012,131,5.8,210349,65.17,41.0
Neighbors 2: Sorority Rising,293,Comedy,When their new next-door neighbors turn out to...,Nicholas Stoller,"Seth Rogen, Rose Byrne, Zac Efron, Chloë Grace...",2016,92,5.7,76327,55.29,58.0
Ice Age: Collision Course,297,"Animation,Adventure,Comedy","Manny, Diego, and Sid join up with Buck to fen...",Mike Thurmeier,"Ray Romano, Denis Leary, John Leguizamo, Chris...",2016,94,5.7,34523,64.06,34.0
The Twilight Saga: Breaking Dawn - Part 2,367,"Adventure,Drama,Fantasy","After the birth of Renesmee, the Cullens gathe...",Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2012,115,5.5,194329,292.30,52.0
Pixels,387,"Action,Comedy,Family",When aliens misinterpret video feeds of classi...,Chris Columbus,"Adam Sandler, Kevin James, Michelle Monaghan,P...",2015,105,5.6,101092,78.75,27.0
Grown Ups 2,395,Comedy,After moving his family back to his hometown t...,Dennis Dugan,"Adam Sandler, Kevin James, Chris Rock, David S...",2013,101,5.4,114482,133.67,19.0
London Has Fallen,425,"Action,Crime,Drama","In London for the Prime Minister's funeral, Mi...",Babak Najafi,"Gerard Butler, Aaron Eckhart, Morgan Freeman,A...",2016,99,5.9,100702,62.40,28.0
Birth of the Dragon,526,"Action,Biography,Drama","Young, up-and-coming martial artist, Bruce Lee...",George Nolfi,"Billy Magnussen, Terry Chen, Teresa Navarro,Va...",2016,103,3.9,552,93.05,61.0
Friend Request,532,"Horror,Thriller",When a college student unfriends a mysterious ...,Simon Verhoeven,"Alycia Debnam-Carey, William Moseley, Connor P...",2016,92,5.4,12758,64.03,59.0
Fantastic Four,553,"Action,Adventure,Sci-Fi",Four young outsiders teleport to an alternate ...,Josh Trank,"Miles Teller, Kate Mara, Michael B. Jordan, Ja...",2015,100,4.3,121847,56.11,27.0
Clash of the Titans,576,"Action,Adventure,Fantasy","Perseus demigod, son of Zeus, battles the mini...",Louis Leterrier,"Sam Worthington, Liam Neeson, Ralph Fiennes,Ja...",2010,106,5.8,238206,163.19,39.0
Kickboxer: Vengeance,581,Action,A kick boxer is out to avenge his brother.,John Stockwell,"Dave Bautista, Alain Moussi, Gina Carano, Jean...",2016,90,4.9,6809,131.56,37.0
Teenage Mutant Ninja Turtles,658,"Action,Adventure,Comedy","When a kingpin threatens New York City, a grou...",Jonathan Liebesman,"Megan Fox, Will Arnett, William Fichtner, Noel...",2014,101,5.9,178527,190.87,31.0
Green Lantern,674,"Action,Adventure,Sci-Fi",Reckless test pilot Hal Jordan is granted an a...,Martin Campbell,"Ryan Reynolds, Blake Lively, Peter Sarsgaard,M...",2011,114,5.6,231907,116.59,39.0
Noah,719,"Action,Adventure,Drama",A man is chosen by his world's creator to unde...,Darren Aronofsky,"Russell Crowe, Jennifer Connelly, Anthony Hopk...",2014,138,5.8,209700,101.16,68.0
The Boss,741,Comedy,A titan of industry is sent to prison after sh...,Ben Falcone,"Melissa McCarthy, Kristen Bell, Peter Dinklage...",2016,99,5.4,29642,63.03,40.0
Percy Jackson: Sea of Monsters,750,"Adventure,Family,Fantasy","In order to restore their dying safe haven, th...",Thor Freudenthal,"Logan Lerman, Alexandra Daddario, Brandon T. J...",2013,106,5.9,91684,68.56,39.0
The Purge,765,"Horror,Sci-Fi,Thriller",A wealthy family are held hostage for harborin...,James DeMonaco,"Ethan Hawke, Lena Headey, Max Burkholder,Adela...",2013,85,5.7,154588,64.42,41.0
Annabelle,819,"Horror,Mystery,Thriller",A couple begins to experience terrifying super...,John R. Leonetti,"Ward Horton, Annabelle Wallis, Alfre Woodard,T...",2014,99,5.4,91106,84.26,37.0
Barbershop: The Next Cut,856,"Comedy,Drama",As their surrounding community has taken a tur...,Malcolm D. Lee,"Ice Cube, Regina Hall, Anthony Anderson, Eve",2016,111,5.9,9993,54.01,67.0
G.I. Joe: Retaliation,879,"Action,Adventure,Sci-Fi",The G.I. Joes are not only fighting their mort...,Jon M. Chu,"Dwayne Johnson, Channing Tatum, Adrianne Palic...",2013,110,5.8,152145,122.51,41.0
Wrath of the Titans,880,"Action,Adventure,Fantasy",Perseus braves the treacherous underworld to r...,Jonathan Liebesman,"Sam Worthington, Liam Neeson, Rosamund Pike, R...",2012,99,5.8,159230,83.64,37.0
The Twilight Saga: Breaking Dawn - Part 1,926,"Adventure,Drama,Fantasy",The Quileutes close in on expecting parents Ed...,Bill Condon,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2011,117,4.9,190244,281.28,45.0
Footloose,931,"Comedy,Drama,Music",City teenager Ren MacCormack moves to a small ...,Craig Brewer,"Kenny Wormald, Julianne Hough, Dennis Quaid,An...",2011,113,5.9,39380,51.78,58.0
The Twilight Saga: Eclipse,942,"Adventure,Drama,Fantasy",As a string of mysterious killings grips Seatt...,David Slade,"Kristen Stewart, Robert Pattinson, Taylor Laut...",2010,124,4.9,192740,300.52,58.0
After Earth,949,"Action,Adventure,Sci-Fi",A crash landing leaves Kitai Raige and his fat...,M. Night Shyamalan,"Jaden Smith, David Denman, Will Smith,Sophie O...",2013,100,4.9,166512,60.52,33.0
Sex and the City 2,953,"Comedy,Drama,Romance","While wrestling with the pressures of life, lo...",Michael Patrick King,"Sarah Jessica Parker, Kim Cattrall, Kristin Da...",2010,146,4.3,62403,95.33,27.0
Annie,982,"Comedy,Drama,Family","A foster kid, who lives with her mean foster m...",Will Gluck,"Quvenzhané Wallis, Cameron Diaz, Jamie Foxx, R...",2014,118,5.3,27312,85.91,33.0
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0

In [117]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?