In [1]:
import pandas as pd
import numpy as np

In [2]:
students = pd.read_csv("C:/Users/fpose/Launchcode/data-analysis-projects/cleaning-data-with-pandas/exercises/student_records_dirty.csv")
students["course_grade"] = students["course_grade"].replace("\"N/A\"", np.nan)
students

,student_id,first_name,last_name,age,major,enrollment_date,course_grade,gpa,tuition_paid
0,17270,Taylor,Chen,23,Bio,2024-02-28,12,3.8,17548.10
1,10860,Olivia,Martinez,73,Computer Science,"January 30, 2024",12,2.7,13129.13
2,15390,Priya,Garcia,52,bio,2024-02-10,95,1.9,19051.36
3,15191,Priya,Anderson,61,CS,2024-02-08,3,2.0,17242.61
4,15734,Noah,Wilson,36,Comp Sci,"February 08, 2024",-20,3.2,NaN
...,...,...,...,...,...,...,...,...,...
350,14931,Mia,Davis,52,psych,2024-02-15,3,NaN,15961.60
351,18445,Jordan,Anderson,79,Biology,2024-03-05,95,3.8,16868.60
352,13763,Luis,Smith,34,Comp Sci,"April 06, 2024",ninety,2.0,20000.00
353,17629,Ethan,Smith,73,Psychology,2024-02-18,85,3.2,24309.50
354,17777,Jamie,Anderson,83,Biology,2024-03-10,-20,1.9,NaN

In [19]:
students = students.drop_duplicates()

In [20]:
students["first_name"] = students["first_name"].str.strip().str.upper()
students["last_name"] = students["last_name"].str.strip().str.upper()

In [21]:
students["major"] = students["major"].str.strip().str.capitalize()

In [22]:
students["major"] = students["major"].replace({
    "Comp sci" : "Computer Science",
    "Cs" : "Computer Science",
    "Computer science" : "Computer Science",
    "Bio" : "Biology",
    "Psych" : "Psychology"
})

In [23]:
students["major"].value_counts()

major
Computer Science    118
Biology             117
Psychology          115
Name: count, dtype: int64

In [26]:
students["course_grade"].value_counts()

course_grade
100         36
12          34
 ninety     31
0           27
95          26
-20         26
64          25
52          25
85          24
88          24
3           21
76          19
Name: count, dtype: int64

In [35]:
# students["course_grade"] = students.loc[students["course_grade"] == " ninety", "course_grade"] = 90
students["course_grade"] = students["course_grade"].replace({
    " ninety ":90,
    " 85":85
})
students["course_grade"].value_counts()

course_grade
100    36
12     34
90     31
0      27
95     26
-20    26
64     25
52     25
85     24
88     24
3      21
76     19
Name: count, dtype: int64

In [36]:
students["age"].describe()

count    350.000000
mean      53.768571
std       26.939509
min      -12.000000
25%       33.000000
50%       52.000000
75%       72.000000
max      230.000000
Name: age, dtype: float64

In [ ]:
# Replacing bad outliers with NaN values so it's not included in analysis
students.loc[students["age"] < 5, "age"] = np.nan
students.loc[students["age"] > 120, "age"] = np.nan
students["age"].describe()

count    345.000000
mean      52.617391
std       20.951321
min       17.000000
25%       33.000000
50%       52.000000
75%       71.000000
max       89.000000
Name: age, dtype: float64

In [41]:
students["full_name"] = students["first_name"] + " " + students["last_name"]
students

,student_id,first_name,last_name,age,major,enrollment_date,course_grade,gpa,tuition_paid,full_name
0,17270,TAYLOR,CHEN,23.0,Biology,2024-02-28,12,3.8,17548.10,TAYLOR CHEN
1,10860,OLIVIA,MARTINEZ,73.0,Computer Science,"January 30, 2024",12,2.7,13129.13,OLIVIA MARTINEZ
2,15390,PRIYA,GARCIA,52.0,Biology,2024-02-10,95,1.9,19051.36,PRIYA GARCIA
3,15191,PRIYA,ANDERSON,61.0,Computer Science,2024-02-08,3,2.0,17242.61,PRIYA ANDERSON
4,15734,NOAH,WILSON,36.0,Computer Science,"February 08, 2024",-20,3.2,NaN,NOAH WILSON
...,...,...,...,...,...,...,...,...,...,...
345,10537,TAYLOR,MARTINEZ,82.0,Biology,2024-02-18,-20,3.8,20783.40,TAYLOR MARTINEZ
346,15986,SAM,DAVIS,59.0,Computer Science,2024-03-19,64,2.0,18087.82,SAM DAVIS
347,11841,EVAN,MARTINEZ,39.0,Psychology,"March 28, 2024",95,2.7,20000.00,EVAN MARTINEZ
348,18716,AISHA,BROWN,71.0,Psychology,"January 01, 2024",90,NaN,13621.58,AISHA BROWN
349,16971,BEN,MARTINEZ,32.0,Computer Science,"April 30, 2024",3,3.8,14181.07,BEN MARTINEZ

In [46]:
students["age_group"] = pd.cut(
    students["age"],
    bins = [0,25,40,65], 
    labels = ["Young Adults", "Working Adults", "Retired"]
)
students["age_group"].value_counts()

age_group
Retired           106
Working Adults     79
Young Adults       41
Name: count, dtype: int64

In [47]:
students["enrollment_date"] = pd.to_datetime(students["enrollment_date"])
students["enrollment_date"]

ValueError: time data "January 30, 2024" doesn't match format "%Y-%m-%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.